:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #111010;
  --light: #090808;
}
 
* {
  margin: 2px;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--dark);
  background-image: url(https://www.wellesley.edu/sites/default/files/styles/news_refresh_hero/public/assets/dailyshot/ds_461390782.jpg?itok=jr0Buv1t);
}

.App {
  display: flex;
  min-height: 900vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculadora {
  width: 500px;
  max-width: 800px;
  background-color: rgb(5, 5, 5);
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: #ffffff;
  color: var(--light);
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
}

.display span {
  font-size: 14px;
  color: rgb(255, 255, 255);
}

button:hover {
  opacity: 0.9;
}

.operators {
  display: flex;
  flex-direction: column;
  
}
.operators button {
  flex: 1 1 0%;
  background-color: #ffffff;
  font-weight: 700;
  border-radius: 20px;
}

.digitos {
  display: flex;
  flex-wrap: wrap;
  background-color: #0c0c0c;
  font-size: 24px;
  border-radius: 20px;
}

.digitos button {
  flex: 1 1 33.333%;
  max-width: 52%;
  background-color: #ffffff;
  border-radius: 20px;
}
